*{
  padding: 0;
  margin: 0;
}
body{

}
/*----------NAV----------*/
.navbar{
  background-color: #86B049;
}

/*LOGO AND B-NAME*/
.B-name {
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin: 20px;
}

@media screen and (max-width: 1400px) {
  .B-name {
      font-size: 1em;
  }
}
@media screen and (max-width: 992px) {
  .B-name {
      font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .B-name {
      font-size: 1em;
  }
}

/*togler-icon*/
.toggler{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 10px;
}

.toggler:hover{
border: 1px solid rgba(255, 255, 255, 0.3);
}
/*TONGGLER-ITEM*/
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
}

/*SEARCH-ICON*/
.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input[type="search"]{
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 25px 0 0 25px;
}
@media screen and (max-width: 991.5px) {
  input[type="search"]{
      width: 600px;

  }
}
@media screen and (max-width: 767.5px) {
  input[type="search"]{
      width: 400px;

  }
}
@media screen and (max-width: 530px) {
  input[type="search"]{
      width: 280px;

  }
}

button[type="submit"]{
  color: white;
  border-radius: 0 25px 25px 0;
  border: none;
  width: 100px;
  height: 41px;
  outline: none;
  cursor: pointer;
  background-color: #526B88;
}
@media screen and (max-width: 530px) {
  button[type="submit"]{
      width: 70px;

  }
}

/*ACCOUNT*/
.account{
  display: flex;
  justify-content: end;
  align-items: center;
}
.account a{
  text-decoration: none;
  color: white;
  margin: 10px;

}

/*-----CAROUSEL-----*/
.carousel-inner img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 100px;
  height: 500px;
  }

  @media screen and (max-width: 1399.5px) {
      .carousel-inner img{
      margin-top: 170px;
          
      }
  }
  @media screen and (max-width: 1199.5px) {
      .carousel-inner img{
      margin-top: 240px;
          
      }
  }
  @media screen and (max-width: 991.5px) {
      .carousel-inner img{
      margin-top: 150px;
          
      }
  }

  @media screen and (max-width: 768.5px) {
      .carousel-inner img{
      margin-top: 150px;
          
      }
  }

  /*-----ARTICLE-----*/
.container{
  justify-content: center;
  align-self: center;
  border-radius: 15px;
  }
  
 

  /*all card design*/
.card {/*----------transparent-glass-backgound----------*/
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  }
  
  .card:hover{
  border: 1px solid white;
  }
  
  .card-title{
  display: flex;
  justify-content: center;
  color: #1f271b;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  @media screen and (max-width: 1399px) {
    .card-title{
      font-size: 0.9em;
    }
  }
  @media screen and (max-width: 1200px) {
    .card-title{
      font-size: 0.8em;
    }
  }
  
  @media screen and (max-width: 580px) {
    .card-title{
      font-size: 1em;
    }
  }
  
  @media screen and (max-width: 435px) {
    .card-title{
      font-size: 0.5em;
    }
  }

/*button-price*/
.price-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-button a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}
@media screen and (max-width: 768.5px) {
  .price-button a{
      font-size: 1em;
  }
}
@media screen and (max-width: 768.5px) {
  .price-button a{
      font-size: 1em;
  }
}

@media screen and (max-width: 460.5px) {
  .price-button a{
      font-size: 0.6em;
  }
}

.price-button button{
  background-color: #526B88;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 40px;
}
@media screen and (max-width: 768.5px) {
  .price-button button{
      width: 40px;
  }
}

@media screen and (max-width: 460.5px) {
  .price-button button{
      width: 28px;
      height: 28px;

  }
}






/*FRUITS_VEGETABLE-SHOP*/
.shop {
  padding: 15px;
  margin-top: 50px;
  margin-left: 90px;
}
@media screen and (max-width: 1441px) {
  .shop{
    margin-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .shop{
    margin-left: 20px;
  }
}

@media screen and (max-width: 568px) {
  .shop{
    margin-left:0; 
  }
}
.shop a{
  color: #526B88;
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
}

/*-----FOOTER-----*/
/*upper-footer*/
.email{
background: #767676;
color: white;
text-align: center;
padding: 40px;
margin-top: 70px;
}
.email h3{
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
}
.email-text input[type="text"]{
border: none;
width: 500px;
border-radius: 0%;

}
@media screen and (max-width: 768px) {
.email-text input[type="text"]{
width: 300px;
  
}
}

.email-text input[placeholder="Email@yourdomain.com"]{
text-align: center;
}

.email-subscribe input[type="submit"]{
background-color: #b70000;
font-weight: bold;
font-family: sans-serif;
width: 500px;
margin-top: 10px;
border-radius: 0%;
border:none
}

.email-subscribe input[type="submit"]:hover{
font-size: 1.5em;
}

@media screen and (max-width: 768px) {
.email-subscribe input[type="submit"]{
width: 300px;
  
}
}

.upper-footer{
background: #86B049;
color: white;
}

.upper-footer a{
text-decoration: none;
color: white;
}

.upper-footer h1{
font-family: 'Times New Roman', Times, serif;
padding: 20px;
}
@media screen and (max-width: 770px) {
.upper-footer h1{
font-size: 1.5em; 
}
}
/*mid-footer*/
.footer-info{
display: flex;
justify-content: space-around;
}
.info a:hover {
text-decoration: underline;
}

/*ICON*/
.icon{
justify-content: center;
align-items: center;
font-size: 2em;
}
.ri-facebook-circle-fill:hover{
font-size: 2.5em;
color: rgb(24, 119, 242);
}

.ri-instagram-fill:hover{
font-size: 2.5em;
color: pink;
}

.ri-twitter-fill:hover{
font-size: 2.5em;
color: rgb(135, 206, 235);

}

.ri-youtube-fill:hover{
font-size: 2.5em;
color: rgb(255, 0, 0);
}

/*bottom-footer*/
.bottom-footer{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border-top: 1px solid rgb(72, 173, 72);
padding-top: 10px;
}
